*-bak

# Licensed or protected documents

# Journal of The Electrochemical Society,165(14) A3284-A3291 (2018)
/references/power/Energy_Density_of_Cylindrical_Li-Ion_Cells_A_Compa.pdf
# https://www.xilinx.com/member/forms/download/design-license.html?cid=473359&filename=zcu102-schematic-xtp454.zip
/references/zcu102-schematic.pdf
# NDA with micron
/references/200b_z00m_ddp_auto_lpddr4_lpddr4x.pdf
